<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="NttData\Technicians\Api\Data\TechnicianInterface" type="NttData\Technicians\Model\Technician" />

    <virtualType name="NttData\Technicians\Model\ResourceModel\Technician\Technician\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">nttdata_technicians</argument>
            <argument name="resourceModel" xsi:type="string">NttData\Technicians\Model\ResourceModel\Technician</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="nttdata_technicians_technician_list_data_source" xsi:type="string">NttData\Technicians\Model\ResourceModel\Technician\Technician\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="NttData\Technicians\Console\Command\SendTechnicianEmail" xsi:type="object">NttData\Technicians\Console\Command\SendTechnicianEmail</item>
            </argument>
        </arguments>
    </type>
</config>
